*{
    font-family: Verdana, sans-serif;
}
.banner-right{
    background-color: #29434E;
    color: white;
    width: 30%;
    height: 70px;
    
}
.banner-left{
    background-color: #29434E;
    color: rgb(255, 255, 255);
    width: 70%;
    height: 70px;
}
.banner{
    display: flex;
}
.lista{
    background-color: #B0BEC5;
    height: 320px;
    overflow: scroll;
}
footer{
    background-color: #29434E;
    color: #ffffff;
}
section div{
margin: 30px;
}
section{
    padding: 5px;
    width: 226px;
    height: 280px;
    display: flex;

}
h3{
    background-color: #546E7A;
    color: #ffffff;
    padding: 0px;
}
h4{
    text-align: center;
    margin: 0px;
}